.button_type_box {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.02), 0px 2px 16px rgba(96, 97, 112, 0.16);
    border-radius: 60px;
    padding: 16px 16px 16px 28px;
}