.button {
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    border-radius: 55px;
    text-decoration: none;
    display: inline-block;
    transition: background-color .3s;
    border: 2px solid transparent;
    cursor: pointer;
}

.button_type_primary {
    background-color: #FFE44D;
}

.button_type_primary:hover {
    background-color: #FFAA0D;
    color: #F44336;
}

.button_type_secondary {
    background-color: transparent;
    border-color: #CFD8DC;
    color: #1A1A1A;
}

.button_type_secondary:hover {
    border-color: #7B8E98;
}

.button_type_border {
    background-color: transparent;
    border-color: #CFD8DC;
    color: #1A1A1A;
}

.button_type_border:hover {
    border-color: #7B8E98;
}