.card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 10px;
	border-radius: 10px;
}

.card:hover {
	box-shadow: 0 2px 4px rgba(40, 41, 61, 0.04), 0 8px 16px rgba(96, 97, 112, 0.16);
}

.card:focus-within {
	box-shadow: 0 0 1px rgba(40, 41, 61, 0.16), 0 0.5px 2px rgba(96, 97, 112, 0.24);
}

.card__desc {
	font-size: 16px;
	padding-top: 14px;
	font-weight: 600;
	position: relative;
}

.card__image {
	width: 100%;
	object-fit: contain;
	margin-bottom: 16px;
	aspect-ratio: 1 / 1;
}

.card__old-price {
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 0;
	font-weight: 600;
	line-height: 14px;
	text-decoration: line-through;
	display: block;
	height: 14px;

}

.card__price {
	font-size: 20px;
	line-height: 24px;
	font-weight: 800;
	display: block;
	margin-bottom: 6px;
}

.card__price_type_discount {
	color: #F44336;
}

.card__wight {
	font-size: 12px;
	line-height: 14px;
	color: #7b8e98;
	display: block;
	margin-bottom: 2px;
}

.card__name {
	font-size: 16px;
	line-height: 1.25;
}

.card__discount {
	padding: 2px 8px;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	background-color: #F44336;
	border-radius: 20px;
}

.card__sticky {
	position: absolute;
	padding: 10px;
}

.card__sticky_type_top-left {
	top: 0;
	left: 0;
}

.card__sticky_type_top-right {
	top: 0;
	right: 0;
}

.card__favorite {
	cursor: pointer;
	background: none;
	border: none;
	padding: 0;
	display: flex;
}

.card__favorite svg {
	fill: #FFFFFF;
}

.card__favorite svg path:first-child {
	fill: #7b8e98;
}

.card__favorite_is-active svg {
	fill: #F44336;
}

.card__favorite_is-active svg path:first-child {
	fill: #F44336;
}

.card__cart {
	margin-top: auto;
}



.card__link {
	text-decoration: none;
	color: currentColor;
}

.btn {
	padding: 10px 18px;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	border-radius: 55px;
	text-decoration: none;
	display: inline-block;
	transition: background-color .3s;
}

.btn_type_primary {
	background-color: #FFE44D;
}

.btn_type_primary:hover {
	background-color: #FFAA0D;
	color: #F44336;
}

.tag {
	padding: 2px 8px;
	border-radius: 20px;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
}

.tag_type_new {
	background-color: #03A9F4;
	color: #FFFFFF;
}

.tag_type_sale {
	background-color: #01A54E;
	color: #FFFFFF;
}