.product {
    display: flex;
    margin-top: 23px;
    gap: 100px;
    margin-bottom: 40px;
}

.productTitle {
    margin-top: 0;
    font-weight: 800;
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 4px;
}

.imgWrapper {
    flex: 1;
}

.desc {
    max-width: 400px;
    flex-shrink: 0;
}

.oldPrice {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-decoration: line-through;
    display: block;
}

.price {
    font-size: 28px;
    line-height: 32px;
    font-weight: 800;
    display: block;
    margin-bottom: 24px;
}

.price_discount {
    color: #F44336;
}

.btnWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 24px;
}

.cart {
    padding: 14px 70px;
    flex: 1;
}

.left {
    border: 1px solid #cfd8dc;
    background-color: #fff;
    height: 48px;
    border-radius: 100px;
}

.plus,
.minus {
    border: none;
    outline: none;
    background-color: transparent;
    height: 100%;
    width: 40px;
    cursor: pointer;
    font-size: 24px;
}

.num {
    font-size: 21px;
    font-weight: 700;
    line-height: 24px;
    width: 30px;
    display: inline-block;
    text-align: center;
}

.delivery {
    display: flex;
    background-color: rgba(236, 239, 241, 0.6);
    border-radius: 12px;
    padding: 12px;
    align-items: flex-start;
}

.delivery:not(.delivery:last-child) {
    margin-bottom: 8px;
}

.right {
    margin-left: 12px;
}

.name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 8px;
    margin-top: 0;
}

.text {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.text:not(.text:last-child) {
    margin-bottom: 8px;
}

.bold {
    font-weight: 700;
}

.title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 800;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    row-gap: 20px;
    margin-bottom: 40px;
}

.naming {
    font-size: 16px;
    line-height: 20px;
    color: #7b8e98;
}

.description {
    font-size: 16px;
    line-height: 20px;
}

.description p {
    margin-bottom: 12px;
}

.box {
    display: flex;
    flex-direction: column;
}

.favorite {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.favorite svg {
    fill: #FFFFFF;
}

.favorite svg path:first-child {
    fill: #7b8e98;
}

.favoriteActive svg {
    fill: #F44336;
}

.favoriteActive svg path:first-child {
    fill: #F44336;
}


@media (max-width: 1000px) {
    .product {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .product {
        flex-direction: column;
    }

    .desc {
        width: 100% !important;
        max-width: initial;
    }

    .grid {
        column-gap: 10px;
    }
}

@media (max-width: 400px) {
    .cart {
        padding: 14px 20px;
    }
}