@import '~normalize.css';

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", "Arial", "Helvetica", sans-serif;
}

.container {
  max-width: 1024px;
  padding-left: 16px;
  padding-right: 16px;
  width: 95%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.content {
  padding: 20px 0;
}

.content__sort {
  margin-bottom: 40px;
}

.result {
  font-size: 40px;
}