.sort {
    padding: 12px 16px;
    box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
    border-radius: 12px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 16px;
}

.sort__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: #7B8E98;
}

.sort__link_selected {
    color: #1A1A1A;
}

.sort__link:hover {
    color: #1A1A1A;
}