.title {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 800;
    margin-bottom: 20px;
}

.buttonBack {
    color: #7B8E98;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}